extends layouts/login-layout.pug  

block content 
    .advertWord 
        h1.headerIntro  Welcome to Universito 
        
        p.headerContainent  A place to meet your university mate . . .
        img.welcome-image(src='../public/images/connect.jpg')
    .loginContainer 
        h1 Login 
        form(method="post") 
            p.errorMessage #{errorMessage}

            //- input(type="text", name="loginUsername", placeholder ="username or email", value=loginUsername  required="")
            //- input(type="text", name="loginPassword", placeholder ="password", required="")
            input(type="text", name="loginUsername", placeholder ="username or email", value="universito@gmail.com"  required="")
            input(type="text", name="loginPassword", placeholder ="password", value="123" required="")
            input(type="submit", value="login")
        a(href="/register") Need an account? Register Here. 