extends layouts/main-layout.pug  

block content 
    
    .resultsContainer  

block headerButton
    buttton#markNotificationAsRead
        i.fas.fa-check-double 
   

block scripts 
    script(src="/js/notificationsPage.js") 
        